.patient {
	border: 1px solid #393939;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	width: 45%;

}

.patient p {
	padding: 5px 0;
}

#patients {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.home1 {
	text-align: center;
}

.home1 h2 {
	background: #393939;
	padding: 10px;
	width: 100%;
	color: #fff;
	margin-bottom: 50px;
}

@media (max-width: 996px) {
	.home1 {
		width: 90%;
	}

	section {
		width: 90%;
	}
}

@media (max-width: 576px) {
	.patient {
		width: 90%;
	}
}
